<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>An Upcoming Web Developer</title>
    <!--    <link href="/static/css/bootstrap.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap"
          rel="stylesheet">
</head>
<body>
<ul>
    <li class="home-bar"><a href="#">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
<div class="top-section">
    <img class="profile-img " src="../static/images/profile_image.jpg" alt="a cute cat">
    <h1>IHSSANE BENAARAB</h1>
    <p>English teacher at <strong><a href="https://www.britishcouncil.org/">the British
        Council</a></strong> and code learner <strong><a href="https://appbrewery.com/">at the App Brewery</a></strong>
    </p>
</div>
<br>
<hr>
<div class="intro-section">
    <h3 id="about">A little about me</h3>
    <p>I am an English major graduate and have been teaching for seven years before falling in love with
        programming. Deciding to make the shift hasn't been easy, and the journey was quite challenging.
        The challenges that I have faced were more to do with self-doubt and mental barriers (That I have created)
        than it was with the actual difficulty of "self" learning a new skill. However, I am very proud to get to where
        I am today, and I am basically looking for someone to believe me enough to give me a chance. will you be that someone?</p>
</div>
<hr>
<div class="middle-section">
    <h3>What I can do</h3>
    <div class="skill-row">
        <img class="computer-img" src="../static/images/teacher.png" alt="hak">
        <h3>English Teacher</h3>
        <p>I don't know why I am mentioning this,
            but you never know if you need an English teacher/trainer for your company</p>
    </div>
    <div class="skill-row">
        <img class="computers-img" src="../static/images/laptop.png" alt="hak">
        <h3>web development</h3>
        <p>I can create websites using Python Frameworks and libraries</p>
    </div>
    <div class="skill-row">
        <img class="computer-img" src="../static/images/world-wide-web.png" alt="hak">
        <h3>Web scraping</h3>
        <p>I kinda enjoy web scraping websites the most, manipulating and sorting data is pretty fun</p>
    </div>
</div>
<br>
<div class="contact-section">
    <a class="btn" href="contact">CONTACT ME</a>
</div>
<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ihssane-b-322721159/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="signature">© 2023 Ihssane ben @autoentr.</p>
</div>
</body>

</html>
